<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container my-2 text-center">
    <form action="#" th:action="@{/save}" th:object="${customer}" method="post">

        <table border="3" class =" table table-hover table-responsive-md">
            <tr>
                <td>User Name:</td>

                <td><input type="text" th:field="*{name}"  placeholder="Name"
                           />
                    <label style="color:red;"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="validation-message"></label>
                </td>
            </tr>
            <tr>
                <td>User Surname:</td>
                <td><input type="text" th:field="*{surname}" placeholder="Surname" />
                    <label style="color:red;" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                           class="validation-message"></label>

                </td>
            </tr>

            <tr>
                <td>User Email:</td>
                <td><input type="text" th:field="*{email}" placeholder="Email" />
                    <label style="color:red;"
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                </td>
            </tr>


            <tr>
                <td> Phone Number:</td>
                <td><input type="text" th:field="*{phone}" placeholder="tel-number" />
                    <label style="color:red;"  th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
                           class="validation-message"></label>

                </td>
            </tr>

        </table>
        <button type="button" onclick="history.go(-1)" class="btn btn-outline-danger btn-lg font-weight-bold">Cancel</button>
        <button type="submit" class="btn btn-outline-success btn-lg font-weight-bold">Save</button>

    </form>
</div>
</body>
</html>